<section class="content-header">
  <h1>
    Room Profile
  </h1>
</section>
<section class="content"  >
  <div class="row">
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li ng-class="{'active':currentTab == 'roomlists'}"><a href="" data-toggle="tab" ng-click="transactionTab('roomlists')">Room Lists</a></li>
          <li ng-class="{'active':currentTab == 'roomdetails'}"><a href="" >Room Details</a></li>
          <li ng-class="{'active':currentTab == 'checkIn'}"><a href=""  >Check In</a></li>
          <li ng-class="{'active':currentTab == 'transaction'}"><a href="" data-toggle="tab" ng-click="transactionTab('transaction')">Transaction</a></li>
          <li ng-class="{'active':currentTab == 'transactionDetails'}"><a href="" >Transaction Details</a></li>
          <li ng-class="{'active':currentTab == 'checkOut'}"><a href=""  >Check Out</a></li>
        </ul>
        <div class="tab-content" >
          <div class="tab-pane" ng-class="{'active':currentTab == 'roomlists'}" >
          <!-- <section class="content section-gh-room_list" ng-init="getRoom()">
              <div class="row col-md-10" >
                <div class="col-sm-3 pointer"  ng-repeat = "nonAvailebleRooms in room_list" >
                  <a class="room-listing-box" ng-click="getRoom(room._id,'details','AVAILABLE')" >
                    <span>{{nonAvailebleRooms.bookingStatus}}</span>
                    <p>Capacity {{nonAvailebleRooms.capacity}}</p>
                    <p>Room No {{nonAvailebleRooms.roomNo}}</p>
                    <p>Price {{nonAvailebleRooms.price}}</p>
                  </a>
                  <div class="checkbox btn-close" ng-if ="nonAvailebleRooms.bookingStatus == 'AVAILABLE' ">
                      <label>
                        <input type="checkbox" ng-model="room.isChecked">
                      </label>
                  </div>
              </div>
            </div>
              <div class="row col-md-10">
                <button type="button" class="btn btn-primary btn-sm" ng-click="bookRoom()">Check IN</button>
              </div>
          </section> -->
          <section class="content section-gh-room_list" ng-init="getRoom()">
              <div class="row col-md-10" >
                <div class="col-sm-3 pointer"  ng-repeat = "availableRooms in room_list" >
                  <a class="room-listing-box" ng-click="getRoom(room._id,'details','AVAILABLE')" >
                    <span>{{availableRooms.bookingStatus}}</span>
                    <p>Capacity {{availableRooms.capacity}}</p>
                    <p>Room No {{availableRooms.roomNo}}</p>
                    <p>Price {{availableRooms.price}}</p>
                  </a>
                  <div class="checkbox btn-close" ng-if ="availableRooms.bookingStatus == 'AVAILABLE' ">
                      <label>
                        <input type="checkbox" ng-model="availableRooms.isChecked">
                      </label>
                  </div>
              </div>
            </div>
              <div class="row col-md-10">
                <button type="button" class="btn btn-primary btn-sm" ng-click="bookRoom()">Check IN</button>
              </div>
          </section>
            <room-filter filter="1" model-value="room_list"></room-filter>
          </div>
          <div class="tab-pane"   ng-class="{'active':currentTab == 'roomdetails'}"  >
            <section class="content" ng-init="newRoomInit()">
              <div class="">
                  <form class="form-horizontal" name="update_room">
                    <div class="box-body">
                      <div class="form-group" ng-class="{'has-error': (update_room.room_no.$invalid && update_room.room_no.$touched)}">
                         <label for="inputEmail3" class="col-sm-3 control-label">Room No</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" name="room_no" ng-model="room.roomNo" placeholder="Room No" readonly>
                         </div>
                       </div>
                       <div class="form-group" ng-class="{'has-error': (update_room.room_price.$invalid && update_room.room_price.$touched)}">
                          <label for="inputEmail3" class="col-sm-3 control-label">Price</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="room_price" ng-model="room.price" placeholder="Price" readonly>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-3 control-label">Room Features</label>
                          <div class="col-sm-8">
                               <div class="radio" ng-repeat="feature in roomFeature">
                                 <label for="inputEmail3" class="col-sm-3 control-label">
                                   <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="room.roomType" value="{{feature.value}}" >
                                  {{feature.name}}
                                 </label>
                               </div>
                           </div>
                         </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Facilities</label>
                             <div class="col-sm-8" >
                              <div class="checkbox" ng-repeat="facility in facilities" >
                                <label for="inputEmail3" class="col-sm-3 control-label">
                                  <input type="checkbox" ng-model="facility.isChecked" disabled>
                                  {{facility.name}}
                                </label>
                              </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (update_room.room_capacity.$invalid && update_room.room_capacity.$touched)}">
                            <label for="inputEmail3" class="col-sm-3 control-label">Capacity</label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" name="room_capacity" ng-model="room.capacity" placeholder="Capacity" readonly>
                              </div>
                        </div>
                     </div>
                  </form>
              </div>
            </section>
          </div>
          <div class="tab-pane" ng-class="{'active':currentTab == 'checkIn'}">
            <section class="content " >
              <div class="">
                <div >
                  <form class="form-horizontal" name="bookroom" >
                    <div class="box-body">
                      <div class="form-group" ng-class="{'has-error': (bookroom.otp_no.$invalid && bookroom.otp_no.$touched)}">
                         <label for="inputEmail3" class="col-sm-3 control-label">Enter OTP Code</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" name="otp_no" ng-model="transaction.otp" placeholder="Enter OTP Code" required ng-pattern="/^[a-zA-Z0-9]*$/">
                           <span class="help-block" ng-show="bookroom.otp_no.$error.required && bookroom.otp_no.$touched">Please enter OTP Code</span>
                           <span class="help-block" ng-show="bookroom.otp_no.$error.pattern && bookroom.otp_no.$touched">must be fill</span>
                         </div>
                       </div>
                       <div class="form-group" ng-class="{'has-error': (bookroom.name.$invalid && bookroom.name.$touched)}">
                          <label for="inputEmail3" class="col-sm-3 control-label">Name</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="name" ng-model="transaction.cName" placeholder="Name" required ng-pattern="/^(\D)+$/">
                            <span class="help-block" ng-show="bookroom.name.$error.required && bookroom.name.$touched">Please enter name</span>
                            <span class="help-block" ng-show="bookroom.name.$error.pattern && bookroom.name.$touched">name should not be other than letter</span>
                          </div>
                      </div>
                        <div class="form-group" ng-class="{'has-error': (bookroom.mobile_no.$invalid && bookroom.mobile_no.$touched)}">
                          <label for="inputEmail3" class="col-sm-3 control-label">Mobile No</label>
                            <div class="col-sm-8">
                               <input type="text" class="form-control" name="mobile_no" ng-model="transaction.cMobile" placeholder="Mobile No" required ng-pattern="/^[0-9]{10,10}$/">
                               <span class="help-block" ng-show="bookroom.mobile_no.$error.required && bookroom.mobile_no.$touched">Please enter Mobile No</span>
                               <span class="help-block" ng-show="bookroom.mobile_no.$error.pattern && bookroom.mobile_no.$touched">Mobile No should be numeric</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (bookroom.address.$invalid && bookroom.address.$touched)}">
                          <label for="inputEmail3" class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-8">
                               <textarea name="address" class="form-control" rows="4" placeholder="Enter address" ng-model="transaction.address" required></textarea>
                               <span class="help-block" ng-show="bookroom.address.$error.required && bookroom.address.$touched">Please enter address</span>
                               <span class="help-block" ng-show="bookroom.address.$error.pattern && bookroom.address.$touched">Address should not  be numeric</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (bookroom.idproof.$invalid && bookroom.idproof.$touched)}">
                          <label for="inputEmail3" class="col-sm-3 control-label">Identity Proof</label>
                          <div class="col-sm-8">
                              <select class="form-control" ng-model="transaction.identity" name="idproof" required>
                                <option value="">Select One</option>
                                <option value="Adhar">Adhar Card</option>
                                <option value="Dl">Driving License</option>
                                <option value="Panno">Pan Card</option>
                                <option value="Passport">Passport</option>
                                <option value="Voterid">Voter ID Card</option>
                              </select>
                              <span class="help-block" ng-show="bookroom.idproof.$error.required && bookroom.idproof.$touched">select one</span>
                          </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (bookroom.id_no.$invalid && bookroom.id_no.$touched)}">
                          <label for="inputEmail3" class="col-sm-3 control-label">Identity Card No</label>
                            <div class="col-sm-8">
                               <input type="text" class="form-control" name="id_no" ng-model="transaction.idproofno"  placeholder="ID Proof No" required ng-pattern="/^[a-zA-Z0-9]*$/" >
                               <span class="help-block" ng-show="bookroom.id_no.$error.required && bookroom.id_no.$touched">Please enter ID Proof No</span>
                               <span class="help-block" ng-show="bookroom.id_no.$error.pattern && bookroom.id_no.$touched">ID Proof should be numeric</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (bookroom.room_no.$invalid && bookroom.room_no.$touched)}">
                          <label for="inputEmail3" class="col-sm-3 control-label">Room No</label>
                            <div class="col-sm-8">
                               <input type="text" class="form-control" name="room_no" ng-model="selectedRoomsNo"  placeholder="Room No" readonly>
                               <span class="help-block" ng-show="bookroom.room_no.$error.required && bookroom.room_no.$touched">Please enter Room No</span>
                               <span class="help-block" ng-show="bookroom.room_no.$error.pattern && bookroom.room_no.$touched">Room No should be numeric</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (bookroom.status.$invalid && bookroom.status.$touched)}">
                          <label for="inputEmail3" class="col-sm-3 control-label">Status</label>
                          <div class="col-sm-8">
                              <select class="form-control" ng-change="changeStatus()" ng-model="transaction.status" name="status" required>
                                <option value="">Select One</option>
                                <option value="CHECKED-IN">CHECKED-IN</option>
                                <option value="BOOKED">BOOKED</option>
                              </select>
                              <span class="help-block" ng-show="bookroom.status.$error.required && bookroom.status.$touched">select one</span>
                          </div>
                        </div>
                        <div class="form-group" ng-if="transaction.status">
                          <label for="inputEmail3" class="col-sm-3 control-label">CheckIn Date</label>
                          <date-viewer ng-show="transaction.status == 'BOOKED'" ng-model="transaction.checkInDate"></date-viewer>
                          <div class="col-sm-8">
                             <input ng-show="transaction.status == 'CHECKED-IN'" readOnly type="text" class="form-control" ng-model="transaction.checkInDate">
                             <span class="help-block" ng-show="bookroom.room_no.$error.required && bookroom.room_no.$touched">Please enter Room No</span>
                             <span class="help-block" ng-show="bookroom.room_no.$error.pattern && bookroom.room_no.$touched">Room No should be numeric</span>
                          </div>
                        </div>
                        <!-- <div class="form-group" ng-class="{'has-error': (bookroom.room_price.$invalid && bookroom.room_price.$touched)}">
                          <label for="inputEmail3" class="col-sm-3 control-label">Price</label>
                            <div class="col-sm-8">
                               <input type="text" class="form-control" name="room_price" ng-model="selectedRoomsPrice" placeholder="Price" readonly>
                               <span class="help-block" ng-show="bookroom.room_price.$error.required && bookroom.room_price.$touched">Please enter Price</span>
                               <span class="help-block" ng-show="bookroom.room_price.$error.pattern && bookroom.room_price.$touched">Price should be numeric</span>
                            </div>
                        </div> -->
                        <div class="form-group" ng-class="{'has-error': (bookroom.visit_purpose.$invalid && bookroom.visit_purpose.$touched)}">
                           <label for="inputEmail3" class="col-sm-3 control-label">Purpose</label>
                           <div class="col-sm-8">
                             <input type="text" class="form-control" name="visit_purpose" ng-model="transaction.purpose" placeholder="purpose" required ng-pattern="/^(\D)+$/">
                             <span class="help-block" ng-show="bookroom.visit_purpose.$error.required && bookroom.visit_purpose.$touched">Please enter purpose</span>
                             <span class="help-block" ng-show="bookroom.visit_purpose.$error.pattern && bookroom.visit_purpose.$touched">purpose should not be other than letter</span>
                           </div>
                         </div>
                        <!-- <div class="form-group" ng-class="{'has-error': (bookroom.discount.$invalid && bookroom.discount.$touched)}">
                          <label for="inputEmail3" class="col-sm-3 control-label">Discount</label>
                            <div class="col-sm-8">
                               <input type="text" class="form-control" name="discount" ng-model="selectedRoomsPrice.discount" placeholder="Discount" >
                               <!<span class="help-block" ng-show="bookroom.discount.$error.required && bookroom.discount.$touched">Please enter Price</span>
                               <span class="help-block" ng-show="bookroom.discount.$error.pattern && bookroom.discount.$touched">Price should be numeric</span> -->
                            <!-- </div>
                        </div> -->
                        <div class="form-group" ng-class="{'has-error': (bookroom.transaction_no.$invalid && bookroom.transaction_no.$touched)}">
                          <label for="inputEmail3" class="col-sm-3 control-label">Transaction No</label>
                            <div class="col-sm-8">
                               <input type="text" class="form-control" name="transaction_no" ng-model="transaction.transactionNo" placeholder="Transaction No" required ng-pattern="/^[0-9]{1,7}$/">
                               <span class="help-block" ng-show="bookroom.transaction_no.$error.required && bookroom.transaction_no.$touched">Please enter Transaction No</span>
                               <span class="help-block" ng-show="bookroom.transaction_no.$error.pattern && bookroom.transaction_no.$touched">Transaction No should be numeric</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="box-footer">
                      <button type="submit" class="btn btn-default" ui-sref="guest_house-dashboard">Cancel</button>
                      <button  ng-disabled="bookroom.$invalid" type="submit" class="btn btn-info pull-right" >Submit</button>
                      <section  align="center m-t-sm">
                          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="close()">{{alert.msg}}</alert>
                      </section>
                    </div> -->
                    <div class="form-group">
                      <div class="col-sm-offset-3 col-sm-3">
                        <button type="button" class="btn btn-default" ng-click="transactionTab('roomlists')">Cancel</button>
                        <button  ng-disabled="bookroom.$invalid" type="submit" class="btn btn-info pull-right" ng-click="submitNewBooking()">Submit</button>
                      </div>
                      <div class="col-sm-12">
                        <section  align="center" class="m-t-sm">
                          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="close()">{{alert.msg}}</alert>
                        </section>
                      </div>
                    </div>
                    <!-- /.box-footer -->
                  </form>
                </div>
              </div>
            </section>
          </div>
          <div class="tab-pane" ng-class="{'active':currentTab == 'transaction'}">
          <div class="row alert">
          <div class="col-sm-12">
            <form ng-submit="serchTransaction(searchStr)">
              <div class="form-group input-search-field">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Mobile Number/Transaction Number" ng-model="searchStr">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-flat"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="form-group ">
          <!--added directives for the trasanction view  -->
          <transaction-details></transaction-details>
        </div>
         <room-filter filter="2" model-value="trasactionList"></room-filter>
      </div>
      <!-- transaction details tab starts  -->
       <div class="tab-pane" ng-class="{'active':currentTab == 'transactionDetails'}">
         <section class="content " >
           <div class="">
             <div >
               <form class="form-horizontal" name="transactionDetails" >
                 <div class="box-body">
                   <div class="form-group" ng-class="{'has-error': (transactionDetails.otp_no.$invalid && transactionDetails.otp_no.$touched)}">
                      <label for="inputEmail3" class="col-sm-3 control-label">Enter OTP Code </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="otp_no" ng-model="selectedTransaction.otp" placeholder="Enter OTP Code"  readonly>
                        <span class="help-block" ng-show="transactionDetails.otp_no.$error.required && transactionDetails.otp_no.$touched">Please enter OTP Code</span>
                        <span class="help-block" ng-show="transactionDetails.otp_no.$error.pattern && transactionDetails.otp_no.$touched">must be fill</span>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (transactionDetails.name.$invalid && transactionDetails.name.$touched)}">
                       <label for="inputEmail3" class="col-sm-3 control-label">Name</label>
                       <div class="col-sm-8">
                         <input type="text" class="form-control" name="name" ng-model="selectedTransaction.cName" placeholder="Name" readonly>
                         <span class="help-block" ng-show="transactionDetails.name.$error.required && transactionDetails.name.$touched">Please enter name</span>
                         <span class="help-block" ng-show="transactionDetails.name.$error.pattern && transactionDetails.name.$touched">name should not be other than letter</span>
                       </div>
                     </div>
                     <div class="form-group" ng-class="{'has-error': (transactionDetails.mobile_no.$invalid && transactionDetails.mobile_no.$touched)}">
                       <label for="inputEmail3" class="col-sm-3 control-label">Mobile No</label>
                         <div class="col-sm-8">
                            <input type="text" class="form-control" name="mobile_no" ng-model="selectedTransaction.cMobile" placeholder="Mobile No" readonly>
                            <span class="help-block" ng-show="transactionDetails.mobile_no.$error.required && transactionDetails.mobile_no.$touched">Please enter Mobile No</span>
                            <span class="help-block" ng-show="transactionDetails.mobile_no.$error.pattern && transactionDetails.mobile_no.$touched">Mobile No should be numeric</span>
                         </div>
                     </div>
                     <div class="form-group" ng-class="{'has-error': (transactionDetails.address.$invalid && transactionDetails.address.$touched)}">
                       <label for="inputEmail3" class="col-sm-3 control-label">Address</label>
                         <div class="col-sm-8">
                            <textarea name="address" class="form-control" rows="4" placeholder="Enter address" ng-model="selectedTransaction.address" readonly></textarea>
                            <span class="help-block" ng-show="transactionDetails.address.$error.required && transactionDetails.address.$touched">Please enter address</span>
                            <span class="help-block" ng-show="transactionDetails.address.$error.pattern && transactionDetails.address.$touched">Address should not  be numeric</span>
                         </div>
                     </div>
                     <div class="form-group" >
                       <label for="inputEmail3" class="col-sm-3 control-label">Rooms</label>
                       <div class="col-sm-8">
                         <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()">select all<label  style="display:block;" ng-repeat="room in selectedTransaction.roomsDetails"><input type="checkbox" ng-model="room.isSelect">{{room.room.roomNo}}</label>
                       </div>
                     </div>
                     <div class="form-group" ng-class="{'has-error': (transactionDetails.transaction_no.$invalid && transactionDetails.transaction_no.$touched)}">
                       <label for="inputEmail3" class="col-sm-3 control-label">Transaction No</label>
                         <div class="col-sm-8">
                            <input type="text" class="form-control" name="transaction_no" ng-model="selectedTransaction.transactionNo" placeholder="Transaction No" readonly>
                            <span class="help-block" ng-show="transactionDetails.transaction_no.$error.required && transactionDetails.transaction_no.$touched">Please enter Transaction No</span>
                            <span class="help-block" ng-show="transactionDetails.transaction_no.$error.pattern && transactionDetails.transaction_no.$touched">Transaction No should be numeric</span>
                         </div>
                     </div>
                 </div>
                 <div class="form-group">
                   <div class="col-sm-offset-3 col-sm-3">
                     <button  ng-if="!selectedTransaction.isPayment" type="button" class="btn btn-info pull-left" ng-click="gotoCheckOut()">Check Out</button>
                     <button type="submit" class="btn btn-default pull-right"  ng-click="transactionTab('transaction')">Back</button>
                   </div>
                   <div class="col-sm-12">
                     <section  align="center" class="m-t-sm">
                       <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="close()">{{alert.msg}}</alert>
                     </section>
                   </div>
                 </div>
                 <!-- /.box-footer -->
               </form>
             </div>
           </div>
         </section>
       </div> <!-- transaction details tab ends -->
        <!-- check out tab starts -->
        <div class="tab-pane" ng-class="{'active':currentTab == 'checkOut'}">
          <section class="content " >
            <div class="">
              <div>
                <form class="form-horizontal" name="transactionDetails" >
                  <div class="box-body">
                    <div class="form-group">
                       <label for="inputEmail3" class="col-sm-3 control-label">Transaction No </label>
                       <div class="col-sm-8">
                         <input type="text" class="form-control" name="otp_no" ng-model="selectedTransaction.tranctionNo"  readonly>
                       </div>
                     </div>
                     <div class="form-group ">
                        <label for="inputPassword3" class="col-sm-3 control-label">CheckIn Date</label>
                        <div class="col-sm-8">
                         <input type="text" class="form-control" name="price"  ng-model="selectedTransaction.checkInDate"  readonly>
                       </div>
                    </div>
                    <div class="form-group ">
                      <label for="inputPassword3" class="col-sm-3 control-label">CheckOut Date</label>
                       <date-viewer ng-model="selectedTransaction.checkOutDate"></date-viewer>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-3 control-label">Price</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="price"  ng-model="selectedTransaction.price"  readonly>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-3">
                      <button   type="button" class="btn btn-info pull-left" ng-click="checkOut(selectedTransaction)">Check Out</button>
                      <button type="submit" class="btn btn-default pull-right"  ng-click="transactionTab('roomlists')">Back</button>
                    </div>
                    <div class="col-sm-12">
                      <section  align="center" class="m-t-sm">
                        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="close()">{{alert.msg}}</alert>
                      </section>
                    </div>
                  </div>
                  <!-- /.box-footer -->
                </form>
              </div>
            </div>
          </section>
         </div>
         <!-- check out tab ends -->
      </div>
    </div>
  </div>
</section>
