<section class="content-header">
  <h1>
     Transactionlist
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li ng-class="{'active':currentTab1 == 'ReportList'}"><a href="" data-toggle="tab" ng-click="ReportListTab('ReportList')">Show Report</a></li>
          <li ng-class="{'active':currentTab1 == 'Reportdetails'}"><a href="">Report lists</a></li>
          <li ng-class="{'active':currentTab1 == 'viewReport'}"><a href="">Report Details</a></li>
        </ul>
            <div class="tab-content" >
                <div class="tab-pane" ng-class="{'active':currentTab1 == 'ReportList'}">
                    <form class="form-horizontal">
                        <div class="box-body">
                          <div>
                              <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Start Date</label>
                                <date-viewer ng-model="transactionReport.startDate" min-date="minDate"></date-viewer>
                              </div>
                                <div class="form-group">
                                  <label for="inputEmail3" class="col-sm-3 control-label">End Date</label>
                                  <date-viewer ng-model="transactionReport.endDate" min-date="minDate"></date-viewer>
                                </div>
                          </div>
                        </div>
                          <button type="submit" class="btn btn-default" >Cancel</button>
                          <button ng-disabled="adduser.$invalid" type="submit" class="btn btn-info pull-right" ng-click="showreportList()">Submit</button>
                  </form>
              </div>
              <div class="tab-pane" ng-class="{'active':currentTab1 == 'Reportdetails'}">
                  <form class="form-horizontal">
                      <div class="box-body">
                        <div class="form-group ">
                          <!--added directives for the trasanction view  -->
                          <report-details></report-details>
                        </div>
                      </div>
                </form>
            <!-- </div> -->
            </div>
          <div class="tab-pane" ng-class="{'active':currentTab1 == 'viewReport'}">
            <!-- </div> -->
            <button type="button" class="btn  btn-primary pull-right"  ng-click="ReportListTab('Reportdetails')">Back</button>
            <div class="row">
              <div class="col-xs-5">
                <div class="box">
                  <div class="box-body over-x-sc">
                    <table id="example2" class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Sl No</th>
                          <th>Name</th>
                          <th>Address</th>
                          <th>MobileNo</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{$index+1}}</td>
                          <td>{{reportDetails.transaction.cName}}</td>
                          <td>{{reportDetails.transaction.address}}</td>
                          <td>{{reportDetails.transaction.cMobile}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
         </div>
      </div>
    </div>
  </div>
</section>
