<section class="content-header">
  <h1>
    Room Profile
  </h1>
  <button type="button" class="btn  btn-primary pull-right"  ui-sref="newRoom_details">Add Room</button>
</section>
<section class="content" ng-init="getRoom()" >
  <div class="row">
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li ng-class="{'active':currentTab == 'roomlists'}"><a href="" data-toggle="tab" ng-click="roomlistingTab('roomlists')">Room List</a></li>
          <li ng-class="{'active':currentTab == 'roomdetails'}"><a href=""  >Room Details</a></li>
        </ul>
        <div class="tab-content" >
          <div class="tab-pane" ng-class="{'active':currentTab == 'roomlists'}" >
            <section class="content section-gh-room_list" ng-init="getRoom()">
                <div class="row col-md-10" >
                  <div class="col-sm-3 pointer"  ng-repeat = "availableRooms in room_list.availableRooms" >
                    <a class="room-listing-box" ng-click="getRoomDetails(availableRooms)" >
                      <span>{{availableRooms.bookingStatus}}</span>
                      <p>Capacity {{availableRooms.capacity}}</p>
                      <p>Room No {{availableRooms.roomNo}}</p>
                      <p>Price {{availableRooms.price}}</p>
                    </a>
                    <a class="offer-Zone" ng-if="availableRooms.isOffer">
                        <span>
                        OFFER
                        </span>
                    </a>
                    <div class="checkbox btn-close">
                        <label>
                          <i class="fa fa-times btn-close" aria-hidden="true" ng-click="deleteRoom(availableRooms._id)"></i>
                        </label>
                    </div>
                </div>
              </div>
              <div class="row col-md-10">
                <button type="button" class="btn btn-primary btn-sm" ng-click="bookRoom()">Check IN</button>
              </div>
              <div class="row col-md-10 m-t-lg" >
                <div class="col-sm-3 pointer"  ng-repeat = "room in room_list.nonAvailebleRooms" >
                  <a class="room-listing-box" ng-click="getRoomDetails(room.room)" >
                    <span>{{room.bookingStatus}}</span>
                    <p>Capacity {{room.room.capacity}}</p>
                    <p>Room No {{room.room.roomNo}}</p>
                    <p>Price {{room.room.price}}</p>
                  </a>
              </div>
            </div>
            </section>
            <room-filter filter="1" model-value="room_list"></room-filter>
          </div>
          <div class="tab-pane" ng-class="{'active':currentTab == 'roomdetails'}">
            <section class="content" ng-init="newRoomInit()" ng-if ="room.bookingStatus == 'AVAILABLE' ">
              <div class="">
                  <form class="form-horizontal" name="update_room">
                    <div class="box-body">
                      <div class="form-group" ng-class="{'has-error': (update_room.room_no.$invalid && update_room.room_no.$touched)}">
                         <label for="inputEmail3" class="col-sm-3 control-label">Room No</label>
                         <div class="col-sm-8">
                           <input type="text" class="form-control" name="room_no" ng-model="room.roomNo" placeholder="Room No" required >
                           <span class="help-block" ng-show="update_room.room_no.$error.required && update_room.room_no.$touched">Please enter Room NO</span>
                           <span class="help-block" ng-show="update_room.room_no.$error.pattern && update_room.room_no.$touched">Name should not be numeric</span>
                         </div>
                       </div>
                       <div class="form-group"  ng-class="{'has-error': (update_room.room_price.$invalid && update_room.room_price.$touched)}">
                          <label for="inputEmail3" class="col-sm-3 control-label">Price</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="room_price" ng-model="room.price" placeholder="Price" required ng-pattern="/\d[0-9]$/">
                            <span class="help-block" ng-show="update_room.room_price.$error.required && update_room.room_price.$touched">Please enter first name</span>
                            <span class="help-block" ng-show="update_room.room_price.$error.pattern && update_room.room_price.$touched">Name should not be numeric</span>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">isOffer</label>
                               <div class="col-sm-8">
                                <div class="checkbox"  >
                                <label for="inputEmail3">
                                  <input type="checkbox"  ng-model="room.isOffer">
                                </label>
                              </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="room.isOffer">
                           <div class="form-group">
                              <label for="inputEmail3" class="col-sm-3 control-label"> Offer Price</label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" name="offer_price" ng-model="room.offerPrice" placeholder="Offer Price" >
                              </div>
                            </div>
                       </div>
                        <!-- <div class="form-group"   ng-class="{'has-error': (update_room.offer_price.$invalid && update_room.offer_price.$touched)}">
                           <label for="inputEmail3" class="col-sm-3 control-label">Offer Price</label>
                           <div class="col-sm-8">
                             <input type="text" class="form-control" name="offer_price" ng-model="room.offerPrice" placeholder="Price" required ng-pattern="/\d[0-9]$/">
                             <span class="help-block" ng-show="update_room.offer_price.$error.required && update_room.offer_price.$touched">Please enter first name</span>
                             <span class="help-block" ng-show="update_room.offer_price.$error.pattern && update_room.offer_price.$touched">Name should not be numeric</span>
                           </div>
                         </div> -->
                         <div class="form-group">
                           <label for="inputEmail3" class="col-sm-3 control-label">Room Features</label>
                           <div class="col-sm-8">
                                <div class="radio" ng-repeat="feature in roomFeature">
                                  <label for="inputEmail3" class="col-sm-3 control-label">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="room.roomType" value="{{feature.value}}" >
                                   {{feature.name}}
                                  </label>
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Facilities</label>
                             <div class="col-sm-8">
                              <div class="checkbox" ng-repeat="facility in facilities" >
                                <label for="inputEmail3" class="col-sm-3 control-label">
                                  <input type="checkbox" ng-model="facility.isChecked">
                                  {{facility.name}}
                                </label>
                              </div>
                            </div>
                          </div>
                            <div class="form-group" ng-class="{'has-error': (update_room.room_capacity.$invalid && update_room.room_capacity.$touched)}">
                               <label for="inputEmail3" class="col-sm-3 control-label">Capacity</label>
                               <div class="col-sm-8">
                                 <input type="text" class="form-control" name="room_capacity" ng-model="room.capacity" placeholder="Capacity" required ng-pattern="/^[0-9]{1,7}$/">
                                 <span class="help-block" ng-show="update_room.room_capacity.$error.required && update_room.room_capacity.$touched">Please enter Capacity</span>
                                 <span class="help-block" ng-show="update_room.room_capacity.$error.pattern && update_room.room_capacity.$touched">Capacity should be numeric</span>
                               </div>
                             </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                      <button type="submit" class="btn btn-default" ng-click="roomlistingTab('roomlists')">Cancel</button>
                      <button  ng-disabled="update_room.$invalid" type="button" class="btn btn-info pull-right" ng-click="updateRoomDetails()">Update</button>
                      <section  align="center m-t-sm">
                          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="close()">{{alert.msg}}</alert>
                      </section>
                    </div>
                    <!-- /.box-footer -->
                  </form>
              </div>
            </section>
            <section class="content" ng-init="newRoomInit()" ng-if ="room.bookingStatus == 'CHECKED-IN' ">
            <div class="">
            <form class="form-horizontal" name="update_room">
              <div class="form-group" ng-class="{'has-error': (update_room.room_no.$invalid && update_room.room_no.$touched)}">
                  <label for="inputEmail3" class="col-sm-3 control-label">Room No</label>
                  <div class="col-sm-8">
                      <input type="text" class="form-control" name="room_no" ng-model="room.roomNo" placeholder="Room No" readonly>
                  </div>
              </div>
               <div class="form-group" ng-class="{'has-error': (update_room.room_price.$invalid && update_room.room_price.$touched)}">
                  <label for="inputEmail3" class="col-sm-3 control-label">Price</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="room_price" ng-model="room.price" placeholder="Price" readonly>
                    </div>
              </div>
               <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Room Features</label>
                    <div class="col-sm-8">
                      <div class="radio" ng-repeat="feature in roomFeature" >
                          <label for="inputEmail3" class="col-sm-3 control-label">
                          <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="room.roomType" value="{{feature.value}}"  disabled>
                           {{feature.name}}
                          </label>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                 <label for="inputEmail3" class="col-sm-3 control-label">Facilities</label>
                 <div class="col-sm-8" >
                  <div class="checkbox" ng-repeat="facility in facilities" >
                      <label for="inputEmail3" class="col-sm-3 control-label">
                        <input type="checkbox" ng-model="facility.isChecked" disabled>
                        {{facility.name}}
                      </label>
                  </div>
                  </div>
              </div>
              <div class="form-group" ng-class="{'has-error': (update_room.room_capacity.$invalid && update_room.room_capacity.$touched)}">
                   <label for="inputEmail3" class="col-sm-3 control-label">Capacity</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="room_capacity" ng-model="room.capacity" placeholder="Capacity" readonly>
                      </div>
              </div>
                  </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
