<section class="content">
<div class="row alert">
  <div class="col-sm-12">
    <form ng-submit="serchTransaction(searchStr)">
      <div class="form-group input-search-field">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Mobile Number/Transaction Number" ng-model="searchStr">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-info btn-flat" ><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </form>
     <ul uib-pagination total-items="transactionData.totalCount" ng-model="transactionData.selectedPage" max-size="maxSize" items-per-page="transactionData.pageCount" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="transactionPageChanged()"></ul>
  </div>
</div>
<div class="form-group " ng-init="getAllTransaction()">
  <div ng-repeat="transaction in transactionData.transaction">
    <transaction-details transaction="transaction" on-select-transaction="onSelectTransaction(transaction)"></transaction-details>
  </div>
</div>
</section>
