<section class=" side-banner " ng-if="type==1">
      <div class="form-group">
          <input type="text" class="form-control" name="min_price" ng-model="find.minPrice" placeholder="Min Price" required >
      </div>
      <div class="form-group">
           <input type="text" class="form-control" name="max_price" ng-model="find.maxPrice" placeholder="Max Price" required >
      </div>
    <div class="form-group" ng-init="newRoomInit()">
        <label for="inputEmail3" >Facilities</label>
          <div class="checkbox" ng-repeat="facility in facilities">
              <label>
                <input type="checkbox" ng-model="facility.isChecked"> {{facility.name}}
              </label>
          </div>
    </div>
    <div class="form-group ">
        <button type="btn btn-default" class="button" ng-click="getRoomInfo()" >Apply</button>
        <button type="btn btn-danger" class="" >Clear</button>
    </div>
</section>
<section class=" side-banner " ng-if="type==2">
  <div class="form-group">
      <input type="text" class="form-control" name="min_price" ng-model="search.minprice" placeholder="Min Price" required >
  </div>
  <div class="form-group">
       <input type="text" class="form-control" name="max_price" ng-model="search.maxprice" placeholder="Max Price" required >
  </div>
  <div class="form-group" ng-init="newRoomInit()">
      <label for="inputEmail3" >Facilities</label>
        <div class="checkbox" ng-repeat="facility in facilities">
            <label>
              <input type="checkbox" ng-model="facility.isChecked"> {{facility.name}}
            </label>
        </div>
  </div>
  <div class="form-group ">
      <button type="btn btn-default" class="button"  >Apply</button>
      <button type="btn btn-danger" class="" >Clear</button>
  </div>
</section>
