  <div  ng-click="getTransactionDetails(transaction)" class="alert alert-info alert-dismissible pointer">
    <span class="pull-right">Rs:{{transaction.transction_price}}</span>
    <p align="center">CHECKED-IN-{{transaction.createdDate | dateformat}} </p>
    <p class="date" >CHECK-OUT-{{transaction.roomsDetails[0].checkOutDate | dateformat}} </p>
    <h4>Name-{{transaction.cName}}</h4>
    <h5>Purpose-{{transaction.purpose}}</h5>
  </div>
  <!-- <div ng-repeat="transaction in transactionList"ng-click="onSelectTransaction(transaction)" class="alert alert-info alert-dismissible pointer">
    <span class="pull-right">Rs:{{transaction.transction_price}}</span>
    <p align="center">CHECKED-IN-{{transaction.createdDate | dateformat}} </p>
    <p class="date" >CHECK-OUT-{{transaction.roomsDetails[0].checkOutDate | dateformat}} </p>
    <h4>Name-{{transaction.cName}}</h4>
    <h5>Purpose-{{transaction.purpose}}</h5>
  </div> -->
