  <!-- <div  ng-click="getTransactionDetails(transaction)" class="alert alert-info alert-dismissible pointer">
    <span class="pull-right">Rs:{{transaction.transction_price}}</span>
    <p align="center">CHECKED-IN-{{transaction.createdDate | dateformat}} </p>
    <p class="date" >CHECK-OUT-{{transaction.roomsDetails[0].checkOutDate | dateformat}} </p>
    <h4>Name-{{transaction.cName}}</h4>
    <h5>Purpose-{{transaction.purpose}}</h5>
  </div> -->
  <div ng-click="getTransactionDetails(transaction)" class=" row alert alert-info alert-dismissible pointer transction-list">
    <div class="col-sm-4">
      <p>Name - {{transaction.cName}}</p>
      <p>RoomNo - {{transaction.roomNo.toString()}}</p>
      <p>Transaction No - {{transaction.transactionNo}}</p>
    </div>
    <div class="col-sm-5">
      <p>CHECKED-IN - {{transaction.roomsDetails[0].checkInDate | dateformat}} </p>
      <p>CHECK-OUT - {{transaction.roomsDetails[0].checkOutDate | dateformat}} </p>
    </div>
    <div class="col-sm-3">
      <p>Rs: {{transaction.roomsDetails[0].price}}</p>
      <p>Status-{{transaction.roomsDetails[0].bookingStatus}}</p>
    </div>
  </div>
