<section class="content-header">
  <h1>
    User Profile
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="" data-toggle="tab" ng-click="changeTab('myprofile')">My Profile</a></li>
          <li><a href="" data-toggle="tab" ng-click="changeTab('editprofile')">Edit Profile</a></li>
          <li><a href="" data-toggle="tab" ng-click="changeTab('changepassword')">Change Password</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" ng-class="{'active':currentTab == 'myprofile'}" ng-init="loadUserdetails()">
            <div class="post">
              <div class="user-block">
              <table class="box box-primary" >
               <tr>
                  <td>Name:</td>
                  <td>{{userProfile.firstName}} {{userProfile.middleName}} {{userProfile.lastName}}</td>
               </tr>
               <tr>
                <td>Email:</td>
                <td>{{userProfile.email}}</td>
               </tr>
               <tr>
                  <td>User Name:</td>
                  <td>{{userProfile.userName}}</td>
               </tr>
               <tr>
                  <td>Roll Type:</td>
                  <td>{{userProfile.role.type}}</td>
               </tr>
              </table>
              </div>
            </div>
          </div>
          <div class="tab-pane" ng-class="{'active':currentTab == 'editprofile'}" ng-init="loadUserbyID()">
            <form class="form-horizontal" name="updateProfile">
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10" ng-class="{'has-error': (updateProfile.first_name.$invalid && updateProfile.first_name.$touched)}">
                  <input type="text" name="first_name" class="form-control"  placeholder="First Name" ng-model="userProfile.firstName" required ng-pattern="/^(\D)+$/">
                  <span class="help-block" ng-show="updateProfile.first_name.$error.required && updateProfile.first_name.$touched">Please enter first name</span>
                  <span class="help-block" ng-show="updateProfile.first_name.$error.pattern && updateProfile.first_name.$touched">Please enter valid name</span>
                </div>
              </div>
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Middle Name</label>
                <div class="col-sm-10" ng-class="{'has-error': (updateProfile.middle_name.$invalid && updateProfile.middle_name.$touched)}">
                  <input type="text" name="middle_name" class="form-control"  placeholder="Middle Name" ng-model="userProfile.middleName" required ng-pattern="/^(\D)+$/">
                  <span class="help-block" ng-show="updateProfile.middle_name.$error.required && updateProfile.middle_name.$touched">Please enter first name</span>
                  <span class="help-block" ng-show="updateProfile.middle_name.$error.pattern && updateProfile.middle_name.$touched">Please enter valid name</span>
                </div>
              </div>
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10" ng-class="{'has-error': (updateProfile.last_name.$invalid && updateProfile.last_name.$touched)}">
                  <input type="text" name="last_name" class="form-control"  placeholder="Last Name" ng-model="userProfile.lastName" required ng-pattern="/^(\D)+$/">
                  <span class="help-block" ng-show="updateProfile.last_name.$error.required && updateProfile.last_name.$touched">Please enter first name</span>
                  <span class="help-block" ng-show="updateProfile.last_name.$error.pattern && updateProfile.last_name.$touched">Please enter valid name</span>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10" ng-class="{'has-error': (updateProfile.email.$invalid && updateProfile.email.$touched)}">
                  <input type="email" class="form-control" name="email" placeholder="Email" ng-model="userProfile.email" required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                  <span class="help-block" ng-show="updateProfile.email.$error.required && updateProfile.email.$touched">Please enter emailid</span>
                  <span class="help-block" ng-show="updateProfile.email.$error.pattern && updateProfile.email.$touched">Please enter valid emailid</span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="button" class="btn btn-danger" ng-click="updateMyProfile()" ng-disabled="updateProfile.$invalid">Update</button>
                  <section  align="center">
                      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="close()">{{alert.msg}}</alert>
                  </section>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" ng-class="{'active':currentTab == 'changepassword'}">
            <form class="form-horizontal" name="changepwd">
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Current Password</label>
                <div class="col-sm-10" ng-class="{'has-error': changepwd.oldpwd.$touched && !is_correct_pwd}">
                  <input type="password" name="oldpwd" class="form-control"  placeholder="Current Passsword" ng-model="password.current" required ng-blur="checkCurrentPassword(password.current)">
                  <span class="help-block" ng-show="changepwd.oldpwd.$touched && !is_correct_pwd">You have entered wrong password</span>
                </div>
              </div>
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">New Password</label>
                <div class="col-sm-10">
                  <input type="password" name="npwd" class="form-control"  placeholder="New Password" ng-model="password.new" required>
                  <span class="help-block" ng-show="changepwd.npwd.$touched && changepwd.npwd.$invalid">Please choose a password</span>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" name="cpwd" placeholder="Confirm Password" ng-model="password.confirm" required>
                  <span class="help-block" ng-show="changepwd.cpwd.$touched && password.new != password.confirm">Password do not match</span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <section  align="center">
                      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="close()">{{alert.msg}}</alert>
                  </section>
                  <button type="button" ng-click="changePassword()" class="btn btn-danger" ng-disabled="changepwd.$invalid || !is_correct_pwd || password.new != password.confirm">Change Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
